<h1>Log in to admin area</h1>

<p>If you are who you should be, then you can log in below.</p>

<ul>
  <li><a href="{{siteLoginPath}}/twitter">Log in via Twitter</a>.</li>
  <li><a href="{{siteLoginPath}}/github">Log in via Github</a>.</li>
</ul>
