<h1>{{sentence scaffold.englishPlural}} overview</h1>

<p><a href="/admin/{{scaffold.id}}/create/">Create a new {{scaffold.englishSingular}}</a>.</p>

<p>List all {{scaffold.englishPlural}} here.</p>
