<h1>Create a new bookmark</h1>

<p>Link to something interesting.</p>

<form method="POST" class="c-form">

  {{> fields/title}}
  {{> fields/bookmark-of}}
  {{> fields/tags}}

  <details>
    <summary>Optional</summary>
    {{> fields/content}}
  </details>

  <details>
    <summary>Meta</summary>
    {{> fields/privacy}}
    {{> fields/feed}}
    {{> fields/index}}
  </details>

  <div class="c-form-row">
    <button class="c-button c-button--primary">Create a new note!</button>
  </div>


</form>
