<h1>{{data.title}}</h1>

{{{content}}}

<form method="POST" class="c-form">

  {{> fields/title}}
  {{> fields/bookmark-of}}
  {{> fields/tags}}

  <details class="c-collapse">
    <summary class="c-title">Optional</summary>
    <div class="c-revealed">
      {{> fields/content}}
    </div>
  </details>

  <details class="c-collapse">
    <summary class="c-title">Meta</summary>
    <div class="c-revealed">
      {{> fields/privacy}}
      {{> fields/feed}}
      {{> fields/index}}
      {{> fields/created}}
      {{> fields/modified}}
      {{> fields/uuid}}
    </div>
  </details>

  <div class="c-form-row">
    <button class="comp-button comp-button--primary">Create a new bookmark!</button>
  </div>

</form>
