<h1>{{data.title}}</h1>

{{{content}}}

<form method="POST" class="c-form">

  {{> fields/title}}
  {{> fields/bookmark-of}}
  {{> fields/tags}}
  {{> fields/add-like}}

  <details class="comp-reveal">
    <summary class="comp-reveal-title">Optional</summary>
    <div class="comp-reveal-content">
      {{> fields/content}}
    </div>
  </details>

  <details class="comp-reveal">
    <summary class="comp-reveal-title">Meta</summary>
    <div class="comp-reveal-content">
      {{> fields/privacy}}
      {{> fields/feed}}
      {{> fields/index}}
      {{> fields/created}}
      {{> fields/modified}}
      {{> fields/uuid}}
    </div>
  </details>

  <button id="send-webmentions">Send webmentions for this page</button>

  <div class="c-form-row">
    <button class="comp-button comp-button--primary">Create a new bookmark!</button>
  </div>

</form>
