<h1>{{data.title}}</h1>

{{{contentFormats.html}}}

<form method="POST" class="c-form" enctype="multipart/form-data"> 

  {{> fields/like-of}}
  {{> fields/tags}}

  <details>
    <summary>Meta</summary>
      {{> fields/privacy}}
      {{> fields/feed}}
      {{> fields/index}}
      {{> fields/created}}
      {{> fields/modified}}
      {{> fields/guid}}
  </details>

  {{> fields/syndication}}

  <div class="c-form-row">
    <button class="comp-button comp-button--primary">Save</button>
  </div>

</form>
