<h1>Create a new note</h1>

<p>Create a new note and then go out and get smashed.</p>

<form method="POST" class="c-form">

  {{> fields/content}}
  {{> fields/tags}}

  <details>
    <summary>Place</summary>
    {{> fields/place}}
  </details>

  <details>
    <summary>Meta</summary>
    {{> fields/privacy}}
    {{> fields/feed}}
    {{> fields/index}}
  </details>

  <details>
    <summary>Optional</summary>
    {{> fields/title}}
  </details>

  <div class="c-form-row">
    <button class="c-button c-button--primary">Create a new note!</button>
  </div>

</form>
