<div class="comp-feeds">
<p>Get your feeds! Lovely and hot! In <a href="{{#if childrenType}}/{{childrenType}}{{/if}}/json">JSON</a>, <a href="{{#if childrenType}}/{{childrenType}}{{/if}}/rss">RSS</a>, and <a href="{{#if storage}}/{{storage}}{{/if}}/atom">Atom</a> formats!</p>
</div>

