<div class="comp-feeds">
<p>Get your feeds! Lovely and hot! In <a rel="alternate" type="application/json" href="{{#if childrenType}}/{{childrenType}}{{/if}}/json">JSON</a>, <a rel="alternate" type="application/rss+xml" href="{{#if childrenType}}/{{childrenType}}{{/if}}/rss">RSS</a>, and <a rel="alternate" type="application/atom+xml" href="{{#if storage}}/{{storage}}{{/if}}/atom">Atom</a> formats!</p>
</div>

