<nav>
  <div class="c-header-layout">

    <div>
      <a href="/">
      <svg class="icon" width="406px" height="78px" viewBox="0 0 406 78">
        <use xlink:href="/sprites.svg#mainlogo" />
      </svg>
      </a>
    </div>


    <div>
      <ul class="c-nav">
        <li><a class="sr-only" href="/">Home</a></li>
        {{#each nav}}
          <li><a href="{{this.path}}" class="c-nav-item {{#if this.active}}c-nav-item__active{{/if}}">{{this.text}}</a></li>
        {{/each}}
      </ul>
    </div>

  </div>

  {{!-- Next row --}}
  {{!-- {{#if admin}}
  <div>
    {{>navadmin}}
  </div>
  {{/if}} --}}

</nav>
