<nav>
  <div class="c-header-layout">

    <div>
      <a href="/">
      <svg class="icon" width="406px" height="78px" viewBox="0 0 406 78">
        <use xlink:href="/sprites.svg#mainlogo" />
      </svg>
      </a>
    </div>


    <div>
      <ul class="c-nav">
        {{#each nav}}
          <li><a href="{{this.path}}" class=" {{this.activeClass}}">{{this.text}}</a></li>
        {{/each}}
      </ul>
    </div>

  </div>

  {{!-- Next row --}}
  {{#if admin}}
  <div>
    {{>navadmin}}
  </div>
  {{/if}}

</nav>
