{{#if data.syndication}}
  <h2>This is being talked about elsewhere!</h2>
  <ul>
    {{#each data.syndication}}
      <li><a href="{{this}}" class="u-syndication">Continue the conversation on {{@key}}</a></li>
    {{/each}}
  </ul>
{{/if}}
