<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{data.title}}</title>
  <link rel="manifest" href="site.webmanifest">
  <link rel="stylesheet" href="/core.css">
  {{#if debug}}<link rel="stylesheet" href="/highlight.css">{{/if}}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
  {{!-- <script nomodule src="old.browsers.js"></script>
  <script type="module" src="new.browsers.js"></script> --}}
  <script src="/admin.js" async /></script>
</head>

<body>
  {{> user}}
  <header class="c-header">
    {{>nav}}
  </header>
  <main class="c-main">
    {{{body}}}
  </main>
  <footer class="c-footer">
    <p>&copy; your mum.</p>
  </footer>
  {{>debug}}
</body>
</html>
