<form>
  <div>
    <input type="file" name="images[0]_file">
    <input type="text" name="images[0]_alt">  {{!-- OMG THE QS LIBRARY IN THE NODE BODYPARSER ALLOWS ARRAYS! --}}
  </div>
  <div>
    <input type="file" name="images[1]_file">
    <input type="text" name="images[1]_alt">
  </div>
</form>
