{{!-- A generic page, for generic people --}}

<h1 class="c-page-title">{{data.title}}</h1>
{{#if data.created}}<p>{{date data.created "dddd Do MMMM, YYYY"}}</p>{{/if}}

{{#if data.place_name}}at {{data.place_name}}{{/if}}

{{{content}}}
