<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

  {{> author}}

  {{>strapline value=data.strapline}}

  <div class="c-post e-content">
    {{{extended.content.html}}}

    {{#if sections}}
      {{#each sections}}
      {{>section storageId=../storageId storageType=../storageType data=this.data extended=this.extended}}
      {{/each}}
    {{/if}}
  </div>

  {{> twitter}}

  {{> tags}}
  {{> syndications}}
  {{> edit}}
  {{> bridgy}}
</article>
