.c-form-row {
  display: block;
  width: var(--form-item-width);
  max-width: 100%;
}

.c-form-row--error {
  border-left: 4px solid red;
}

.c-form-row__inline {
  display: flex;
  column-gap: 20px;
}
