@use 'button-group';
@use 'button';
@use 'card';
@use 'card-grid';
@use 'content';
@use 'debug';
@use 'footer';
@use 'form';
@use 'form-row';
@use 'form-row-group';
@use 'form-texty';
@use 'form-title';
@use 'icon';
@use 'main';
@use 'reveal';
@use 'reveal-content';
@use 'reveal-title';
@use 'site-image';
@use 'strapline';
@use 'tag';
@use 'tags';


.c-header {
  max-width: 80rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.c-header-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(406px, 1fr));
  grid-gap: 25px;
  align-items: center;
}

.c-nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
}

.c-nav-item {
  margin: 0;
}

.c-nav-link {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  padding: 5px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin: 0;
}

.c-nav-link__active {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  padding: 5px;
  border-bottom-color: var(--link-color);
}

.comp-note {
  font-size: 3rem;
  font-size: clamp(1rem, 2.5vw, 3rem);
}

.c-page-title {
  font-size: 2rem;
  font-size: clamp(3rem, 2.5vw, 4rem);
  font-weight: bold;
}

.c-date--small {
  font-size: x-small;
}

.c-site-title {
  font-size: 2rem;
  font-size: clamp(3rem, 2.5vw, 4rem);
  text-decoration: none;
  font-weight: bold;
}
a.c-site-title {
  color: var(--text-color);
}
