<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

   {{> author}}

  {{>strapline value=data.strapline}}

  <div class="c-post e-content">
    {{{content.html}}}

    {{#if sections}}
      {{#each sections}}
      {{>section id=../id storage=../storage data=this.data content.html=this.content.html}}
      {{/each}}
    {{/if}}
  </div>

  {{> twitter}}

  {{> tags}}
  {{> syndications}}
  {{> edit}}
  {{> bridgy}}
</article>
