<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

   {{> author}}

  <div class="c-bandname e-content">
    {{{content}}}
  </div>

  {{> tags}}

  {{> edit}}
  {{> bridgy}}
</article>
