<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

   {{> author}}

  <div class="c-bookmark e-content">
    {{{content}}}
  </div>

  {{#if data.bookmark_of}}
  <p><a href="{{data.bookmark_of}}" class="u-bookmark-of comp-button comp-button--primary">Visit bookmarked URL</a>.</p>
  {{/if}}

  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
