<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

  {{> author}}

  <div class="comp-checkin e-content">
    {{{contentHtml}}}
  </div>

  {{> syndications}}
  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
