<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

   {{> author}}

  {{#if data.like_of}}
  <p><a href="{{data.like_of}}" class="u-like-of comp-button comp-button--primary">Visit liked URL</a><span class="util-sr-only">.</span></p>
  {{/if}}

  {{> syndications}}
  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
