<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

   {{> author}}

  <div class="c-like e-content">
    {{{content}}}
  </div>

  {{#if data.like_of}}
  <p><a href="{{data.like_of}}" class="u-like">{{data.like_of}}</a>.</p>
  {{/if}}

  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
