<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

   {{> author}}

  <div class="comp-like e-content">
    {{{content}}}
  </div>

  {{#if data.like_of}}
  <p><a href="{{data.like_of}}" class="u-like comp-button comp-button--primary">Visit liked URL</a><span class="util-sr-only">.</span></p>
  {{/if}}

  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
