<h1 class="c-page-title">{{data.title}}</h1>

<p>{{date data.created "dddd Do MMMM, YYYY"}}</p>

{{>strapline value=data.strapline}}

<div class="c-post">
  {{{content}}}
</div>


{{#if sections}}
{{#each sections}}
{{>section id=../id storage=../storage data=this.data content=this.content}}
{{/each}}
{{/if}}

{{> tags}}
