<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

   

  <div class="comp-reply e-content">
    {{{contentHtml}}}
  </div>

  <p><a href="{{data.reply_to}}" class="u-in-reply-to comp-button comp-button--primary">Visit original URL</a><span class="util-sr-only">.</span></p>

  {{> syndications}}
  {{> author}}
  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
