<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

   

  <div class="c-reply e-content">
    {{{content}}}
  </div>

  <p>In reply to <a href="{{data.reply_to}}" class="u-in-reply-to">{{data.reply_to}}</a></p>

  {{> author}}
  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
