<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

  {{> author}}

  <div class="c-repost e-content">
    {{{content}}}
  </div>

  {{#if data.repost_of}}
  <p><a href="{{data.repost_of}}" class="u-repost-of comp-button comp-button--primary">Visit reposted URL</a></p>
  {{/if}}

  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
