<div class="c-form-row {{#if errors.guid}}c-form-row--error{{/if}}">
  <label for="guid" class="c-form-title">GUID</label>
  <input 
  type="text" 
  id="guid" 
  name="guid" 
  class="c-form-texty {{#if errors.guid}}c-form-texty--error{{/if}}"
  value="{{state.guid}}"
  >
  {{#if errors.guid}}
    <p class="comp-error">ERROR! {{errors.guid}}</p>
  {{/if}}
</div>
