<div class="c-form-row {{#if errors.in_reply_to}}c-form-row--error{{/if}}">
  <label for="title" class="c-form-title">In reply to this URL</label>
  <input type="text" id="in_reply_to" name="in_reply_to"
    class="c-form-texty {{#if errors.in_reply_to}}c-form-texty--error{{/if}}" value="{{state.in_reply_to}}">
</div>
