<div class="c-form-row">
  <h2>Add a like to this item</h2>
  <div class="c-checkbox-group">
    <input type="checkbox" value="true" id="add_like" name="add_like" {{#if state.add_like}}checked{{/if}}><label
      for="add_like">Like</label>
  </div>
</div>
