<div class="c-form-row {{#if errors.add_like}}c-form-row--error{{/if}}">
  <label for="title" class="c-form-title">Add a "like-of" to this item</label>
  <input type="text" id="add_like" name="add_like"
    class="c-form-texty {{#if errors.add_like}}c-form-texty--error{{/if}}" value="{{state.add_like}}">
</div>
