<div class="c-form-row {{#if errors.bookmark_of}}c-form-row--error{{/if}}">
  <label for="title" class="c-form-title">Bookmark URL</label>
  <input type="text" id="bookmark_of" name="bookmark_of"
    class="c-form-texty {{#if errors.bookmark_of}}c-form-texty--error{{/if}}" value="{{state.bookmark_of}}">
</div>
