<div class="c-form-row {{#if errors.content}}c-form-row--error{{/if}}">
  <label for="content" class="c-form-title">Content</label>
  <textarea 
    rows="8" 
    id="content" 
    name="content"
    class="c-form-texty {{#if errors.content}}c-form-texty--error{{/if}}"
    >{{state.content}}</textarea>
</div>
