<div class="c-form-row">
  <label for="created" class="c-form-title">Date created</label>
  <input 
  type="text" 
  id="created" 
  name="created" 
  class="c-form-texty {{#if errors.created}}c-form-texty--error{{/if}}"
  value="{{state.created}}"
  >
</div>
