<div class="c-form-row">
  <h2>Feed syndication</h2>
  <p>Should this item be hidden from the local and global RSS/Atom/JSON syndication feeds?</p>
  <div class="c-checkbox-group">
    <input type="checkbox" value="true" id="hide_from_rss" name="hide_from_feed"
      {{#if state.private}}checked{{/if}}><label for="">Hide from feeds</label>
  </div>
</div>
