<div class="c-form-row">
  <label for="guid" class="c-form-title">GUID</label>
  <input 
  type="text" 
  id="guid" 
  name="guid" 
  class="c-form-texty {{#if errors.guid}}c-form-texty--error{{/if}}"
  value="{{state.guid}}"
  >
</div>
