<div class="c-form-row">
  <h2>Indexing</h2>
  <p>Should this be available in the recent indexes and archives? Someone who has the item URL will still be able to
    view it.</p>
  <div class="c-checkbox-group">
    <input type="checkbox" value="true" id="hide_from_indexes" name="hide_from_indexes"
      {{#if state.private}}checked{{/if}}><label for="">Hide from indexes</label>
  </div>
</div>
