<div class="c-form-row {{#if errors.like_of}}c-form-row--error{{/if}}">
  <label for="title" class="c-form-title">Liked URL</label>
  <input type="text" id="like_of" name="like_of"
    class="c-form-texty {{#if errors.like_of}}c-form-texty--error{{/if}}" value="{{state.like_of}}">
</div>
