<div class="c-form-row">
  <label for="modified" class="c-form-title">Date modified</label>
  <input 
  type="text" 
  id="modified" 
  name="modified" 
  class="c-form-texty {{#if errors.modified}}c-form-texty--error{{/if}}"
  value="{{state.modified}}"
  >
</div>
