<div class="c-form-row">
  <h2>Privacy</h2>
  <p>Should this item be hidden from everyone, even if they know the URL? (HTTP 404)</p>
  <div class="c-checkbox-group">
    <input type="checkbox" value="true" id="private" name="private" {{#if state.private}}checked{{/if}}><label
      for="private">Make it private</label>
  </div>
</div>
