<div class="c-form-row {{#if errors.quote_of}}c-form-row--error{{/if}}">
  <label for="title" class="c-form-title">Quote URL</label>
  <input type="text" id="quote_of" name="quote_of"
    class="c-form-texty {{#if errors.quote_of}}c-form-texty--error{{/if}}" value="{{state.quote_of}}">
</div>
