<div class="c-form-row {{#if errors.repost_of}}c-form-row--error{{/if}}">
  <label for="repost_of" class="c-form-title">Reposted URL</label>
  <input type="text" id="repost_of" name="repost_of"
    class="c-form-texty {{#if errors.repost_of}}c-form-texty--error{{/if}}" value="{{state.repost_of}}">
</div>
