<div class="c-form-row">
  <label for="slug" class="c-form-slug">Slug</label>
  <input 
  type="text" 
  id="slug" 
  name="slug" 
  class="c-form-texty {{#if errors.slug}}c-form-texty--error{{/if}}"
  value="{{state.slug}}"
  >
</div>
