<div class="c-form-row">
  <label for="strapline" class="c-form-title">Strapline</label>
  <input 
  type="text" 
  id="strapline" 
  name="strapline" 
  class="c-form-texty {{#if errors.strapline}}c-form-texty--error{{/if}}"
  value="{{state.strapline}}"
  >
</div>
