<div class="c-form-row {{#if errors.tags}}c-form-row--error{{/if}}">
  <label for="tags" class="c-form-title">Tags</label>
  <textarea 
    rows="1" 
    id="tags" 
    name="tags"
    class="c-form-texty {{#if errors.tags}}c-form-texty--error{{/if}}"
    >
      {{state.tags}}
    </textarea>
</div>
