<div class="c-form-row">
  <label for="title" class="c-form-title">Title</label>
  <p class="c-form-example">A wonderful day in the park</p>
  <input 
  type="text" 
  id="title" 
  name="title" 
  class="c-form-texty {{#if errors.title}}c-form-texty--error{{/if}}"
  value="{{state.title}}"
  >
</div>
