<div class="c-form-row">
  <label for="uuid" class="c-form-title">UUID</label>
  <input 
  type="text" 
  id="uuid" 
  name="uuid" 
  class="c-form-texty {{#if errors.uuid}}c-form-texty--error{{/if}}"
  value="{{state.uuid}}"
  >
</div>
